@import "normalize.css";
@import "fonts.css";



/* 
    --Reset css--
*/

a{
    text-decoration: none;
    display: block;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}
p{
    padding: 0;
    margin: 0;
}
svg{
    width: 2.4rem;
    height: 2.4rem;
}

/* 
   Custom Classes

*/




/* 
    --app--
*/


html{
    box-sizing: border-box;
    font-size: 10px;
}
*, *::after, *::before{
    box-sizing: inherit;
}
:root{
    --background: #FDFDFD;
    --header_text: #F1F8FF;
    --dark_color: #1B262C;
    --form_back: #F5F5F5;
    --form_text: #7E808A;
    --blue: #0098FF;

}

body{
    direction: rtl;
    font-size: 1.6rem;
    font-family: "BYekan";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
    overflow-x: hidden;

}

.container{
    margin: 0 auto !important; 
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
   
   
}



/* HEADER */

.header, .header a{
    color: var(--header_text);
}
.header{
    background-color: var(--dark_color);
    width: 100%;
    color: #FFFFFF;
}

/* 
navigation
*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    padding: 0;
    font-weight: 200;
    font-size: 1.8rem;
    color: #fff;

}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}
.hamburger__icon{
    display: none;
}
.logo{
    margin-top: 1rem;
}
.logo__img{
    max-width: 20rem;
}

.nav{
   max-width: 95%;
}
.nav__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin-right: 6rem;
    transition: all 500ms ease-in-out;

}
.nav__item{
    margin: 1rem;
}
.nav__item_link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__item_link svg{
    margin-left: 0.8rem;
}

.arrow_icon{
    width: 1.8rem;
    height: 1.8rem;
    color: var(--form_text);
    margin-right: 0.3rem;
    font-weight: 300;
}
.menu {
    position: relative;
    display: inline-block;
}

.popup {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1.5rem 3rem;
    z-index: 1;
    top: 100%; 
    right: 0; 
    border-radius: 4px;
    margin-top: 2px; 
    width: 25rem;
}

.popup a {
    color: var(--form_text);
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    opacity: 0.7;
    transition: 200ms all ease-in-out;
}
.popup a:first-child{
    border-bottom: 1px solid #D4D4D4;
}
.popup a span{
    background-color: var(--blue);
    color: #fff;
    border-radius: 5rem;
    padding: 0 8px;
    font-weight: bolder;
    opacity: 0.8;
}
.popup a:hover {
    opacity: 1; 
}

.menu:hover .popup {
    display: block; 
}
.sign_in{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-left: 0;
    margin-right: 2rem;
}
.sign_in__box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F1F1F1;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    max-width: 15rem;
    max-height: 4rem;
    text-wrap: nowrap;
}
.sign_in__box svg{
    margin-left: 0.8rem;
    width: 2rem;
    height: 1.8rem;
}
.user__single{
    display: none;
}
.mobile__mode{
    position: absolute;
    top: 0;
    position: fixed;
    bottom: 0;
    right: -30rem;
    transition: all 500ms ease-in-out;
    width: 30rem;
    height: 100vh;
    background-color: var(--dark_color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    padding-right: 0;
    padding-top: 2rem;
    backdrop-filter: brightness(50%)
}
.mobile__menu--open{
    right: -6rem;
}
.li__mobile__mode{
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 2rem;
    direction: rtl;
    border-bottom: 1px solid black;

}

.close__icon{
    display: none;
    margin-right: 5rem;
    color: var(--dark_color);
    background-color: #fff;
    border-radius: 10rem;
    cursor: pointer;

}
/* 
heading
*/
.heading{
    text-align: center;
    margin: 3rem auto;
}
.heading__title{
    font-size: 4.2rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
.heading__title b{
    font-weight: bolder;
}
.heading__description{
    margin-bottom: 3rem;
}

/* MAIN */
.main{
    width: 100%;
}

/* 
user_information
*/

.user_information{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -3rem;
    z-index: 2;
    margin-bottom: 6rem;
    background-color: #FFFFFF;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    border-radius: 1.5rem;
    color: var(--form_text);
    font-weight: bold;
}
.user_information input:focus{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.form{

}
.user__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.info__box{
    display: flex;
    flex-direction: column;
    width: 23%;
}
.info__box label{
    margin-bottom: 1rem;
}
.info__box input{
    padding: 2rem;
    background-color: var(--form_back);
    border-radius: 1rem;
    border: none;
    outline: none;
    width: 100%;
}
.user__description{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.user__description label{
    margin-bottom: 1rem;
}
.user__description input{
    padding: 2rem;
    background-color: var(--form_back);
    border-radius: 1rem;
    border: none;
    outline: none;
    width: 100%;
    height: 20rem;
    box-sizing: border-box;
}
.user__description input::placeholder {
    position: absolute;
    top: 2rem;
    transform: translateY(0);
    font-size: 1.8rem;
}
.user_information input::placeholder {
    opacity: 0.9;
}
.form__btn{
    padding: 2rem 6rem;
    border-radius: 1rem;
    border: none;
    color: #fff;
    background-color: var(--blue);
    font-weight: bold;
    margin-bottom: 4rem;
    transition: all 300ms ease-in-out;
}
.form__btn:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
.error {
    color: red;
    margin-top: 5px;
    display: none;
}

.invalid{
    border-color: red;
}
.submit__result{
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: #fff;
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem auto;
    display: none;
    color: darkgreen;
}
/* 
telegram_links
*/


.telegram_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;

}
.telegram_links--box{
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 1.5rem;
}
.telegram__links_text{
    padding: 3rem 1rem;
}
.telegram__links_text h2, h3{
    color: var(--blue);
}
.telegram__links_text h2{
    font-family: "BYekan bold";
}
.telegram__links_text a{
    color: var(--form_text);
}
/* 
contact_ways
*/
.contact_ways{
    color: var(--dark_color);
    margin: 5rem auto;
    width: 70%;
}
.contact_ways h2{
    font-family: "BYekan bold";
    font-weight: 800;
}
.contact_ways__title{
    font-size: 3rem;
    text-align: center;
}
.contact_ways--box{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1.5rem;
}
.contact_ways--box a{
    color: var(--dark_color);
}
.contact_way{
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 3rem;
    font-size: 1.8rem;
    
}
.line{
    border-bottom: 1px solid #D4D4D4;
}
.contact_way img{
    margin-left: 2rem;
}

/* FOOTER */

.footer{
    border-top: 1px solid #D4D4D4;
    margin-top: 2rem;
    color: var(--dark_color);
}

/* 
description
*/
.description{
    max-height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description__img{
    width: 24rem;
    height: 20rem;
    margin: 0;
    margin-top: 3rem;
    padding: 0;
}
.description__text{
 
}
.description__text h3{
    display: block;
    color: var(--dark_color);
    font-size: 2rem;
    font-family: "BYekan bold";
    font-weight: bolder;
}
.description__text p{
    font-size: 1.8rem;
}
/* 
links
*/

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links a{
    color: var(--dark_color);
    font-size: 1.8rem;
    opacity: 0.9;
}
.links__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}
.first_footer__links{
    width: 40%;
    padding: 2rem;
}
.first_footer__links h3{
    color: var(--dark_color);
}
.first_footer__links h3 span{
    font-size: 2rem;
    color: var(--blue);
}
.first_footer__links p{
    font-size: 1.8rem;
}
.media__links{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.media__links svg{
    width: 3rem;
    height: 3rem;
    color: var(--form_text);
    opacity: 0.5;
    transition: all 100ms ease-out;
    
}
.media__links svg:hover{
    color: var(--dark_color);
    opacity: 1;
}
.icon {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px; 
    line-height: 1.2; 
    max-width: 140px; 
    white-space: nowrap; 
  
}


.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
  
}



.icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.second_footer__links{
    width: 15%;
}

.thirth_footer__links{
    width: 15%;
}
.forth_footer__links{
    width: 20%;
}

/* 
copy_right
*/

.copy_right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--form_text);
    opacity: 0.8;
    font-size: 1.4rem;
    padding: 4rem 1rem;
}